.calc-wrapper {
  border: 1px solid black;
  margin: 20px 5vw;
  padding-bottom: 20px;
}

.character-name {
  font-family: "Courier";
  color: green;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
}
